<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Browse</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="browse-items-container">

      <% design.forEach(info => { %>

      <div class="browse-items">
        <div class="browse-items-display">
          <img class="default-image-wrap default-image-hover" src="<%= info.img_url %>" alt="" onclick="redirect(`/search/item/<%= info.design_id %>`)">
        </div>
        <div class="browse-items-label">
          <div class="browse-items-description">
            <div class="browse-items-name default-link-hover" onclick="redirect(`/search/item/<%= info.design_id %>`)"><%= info.design_name %></div>
            <div class="browse-items-creator default-link-hover" onclick="redirect(`/search/designer/<%= info.designer_id %>`)">by <%= info.designer_name %></div>
          </div>
          <button class="browse-items-btn-add default-button" onclick="redirect('/add/item/<%= info.design_id %>')">+</button>
        </div>
      </div>

      <% }) %>

    </div>

    <div class="default-footer">
    </div>

  </div>

</body>

</html>