<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Item Details</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="browse-items-cart-items default-hidden">
      <% cart_designs.forEach(info => { %>
      <div class="current-cart-item-id">
        <%= info.design_id %>
      </div>
      <%  }) %>
    </div>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link default-link-hover" onclick="redirect('/search/item')"> back to search </div>
    </div>

    <div class="browse-item-details-container">
      <div class="browse-item-details-images">
        <div class="browse-item-details-image-main">
          <ion-icon class="large-icon" name="chevron-back-outline"></ion-icon>
          <div class="browse-item-details-image-main-display">
            <img src="<%= images[0].image_url %>" alt="">
          </div>
          <ion-icon class="large-icon" name="chevron-forward-outline"></ion-icon>
        </div>
        <div class="browse-item-details-image-all">
          <div class="browse-item-details-image-thumbnail"></div>
          <div class="browse-item-details-image-thumbnail"></div>
          <div class="browse-item-details-image-thumbnail"></div>
          <div class="browse-item-details-image-thumbnail"></div>
          <div class="browse-item-details-image-thumbnail"></div>
        </div>

      </div>
      <div class="browse-item-details-info">

        <div class="browse-item-details-info-container">
          <div id="browse-item-details-id" class="default-hidden"><%= design[0].design_id %></div>
          <div class="browse-item-details-name">
            <%= design[0].design_name %>
          </div>
          <div class="browse-item-details-creator default-link-hover" onclick="redirect('/search/designer/details/<%= design[0].designer_id %>')">
            By <%= design[0].designer_name %>
          </div>
          <div class="browse-item-details-rating">
            <div class="browse-item-details-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-item-details-rating-info">
              (24) Ratings, (99) Purchases
            </div>
          </div>
          <div class="browse-item-details-price">
            $<%= design[0].price %>
          </div>
          <div class="browse-item-details-description">
            <%= description[0].text %>
          </div>
          <div class="browse-item-details-specs">
            <div>+- <%= design[0].weight %> grams</div>
            <div>Recommended print specs: </div>
            <div>PLS/PLA, 23mm/s, 2mm nozzle</div>
            <div>Estimated print time: 30min</div>
            <div>Estimated print price: $10.00</div>
          </div>
          <button id="browse-item-details-btn-id" class="browse-item-details-btn default-button" onclick="redirect('/add/item/<%= design[0].design_id %>')">add to cart</button>

        </div>

      </div>

      <div class="default-footer">
      </div>

    </div>



</body>

</html>