<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <script src="/js/102-cart_shopDisplay.js" defer></script>
  <script src="/js/102-cart_modals.js" defer></script>
  <title>Shapearoo - Cart</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link default-link-hover" onclick="redirect('/search/item')"> back to search </div>
    </div>

    <div class="container-inner">
      <div class="cart-header-text default-header-text">
        Print shop selection
      </div>
      <div class="cart-order-container">
        <div class="cart-order-details">
          <div class="cart-order-details-info">
            <div id="shop_id_<%= shop[0].shop_id %>" class="cart-order-details-shop-img" onclick="redirect('/search/shop')">
              <img class="cart-order-details-shop-image default-image-wrap" src="<%= shop[0].img_url %>" onclick="redirect('/search/shop/<%= shop[0].shop_id %>')" alt="">
              <div class="cart-order-details-shop-add-btn">+</div>
              <div class="cart-order-details-shop-add-text">select shop</div>
            </div>
            <div class="cart-order-details-shop-info">
              <div class="cart-order-details-shop-name">
                <%= shop[0].shop_name %>
              </div>
              <div class="cart-order-details-shop-address">
                <div>Shop address: </div>
                <div><%= shop[0].shop_address %></div>
              </div>

              <a class="cart-order-details-shop-change" href="#" onclick="modalShopSelection()"> select print shop</a>
              <!-- <a class="cart-order-details-shop-contact" href="#"> contact shop</a> -->


            </div>
            <div class="cart-order-details-shipping">
              <div class="cart-order-details-shipping-text">Shipping preferences:</div>

              <div class="cart-order-details-shipping-address">
                <div>Address: </div>
                <div>Naomi Nagata</div>
                <div>309 W 109th Street</div>
                <div>New York, NY, 10044</div>
              </div>

              <div class="cart-order-details-shipping-method">
                <div>Delivery option:</div>
                <div>UPS 2-day</div>
              </div>

              <div class="cart-order-details-shipping-cost">
                $15.00
              </div>

              <a class="cart-order-details-shipping-edit" href="#"> edit delivery option</a>
            </div>

            <div class="cart-order-details-payment">
              <div class="cart-order-details-payment-text">
                Payment preferences:
              </div>

              <div class="cart-order-details-payment-method">
                <div>venmo</div>
                <div>@naominaomi</div>
              </div>

              <div class="cart-order-details-payment-address">
                <div>Billing address:</div>
                <div>Same as shipping address</div>
              </div>

              <div class="cart-order-details-payment-invoice">
                <div>Send invoice to:</div>
                <div>naominaomi@gmail.com</div>
              </div>

              <a class="cart-order-details-payment-edit" href="#"> edit payment preferences</a>
            </div>
          </div>

          <div class="cart-header-text default-header-text">
            Review items
          </div>

          <div class="cart-order-details-review">
            <div class="cart-order-details-review-head">
              <div>Qtd</div>
              <div>Items</div>
              <div>Subtotal</div>
              <div>Print Details</div>
              <div>Subtotal</div>
              <div>Total</div>
            </div>

            <!-- CART ORDER ITEM SINGLE -->

            <% for(i = 0; i < designs.length; i++) { %>


            <div class="cart-order-details-item">
              <div id="item_quantity_id_<%= designs[i].id %>" class="cart-order-details-item-qtd">
                <%= designs[i].qtd %>
              </div>
              <div class="cart-order-details-item-info">
                <div class="cart-order-details-item-image">
                  <img id="item_img_id_<%= designs[i].id %>" class="default-image-wrap" src="<%= designs[i].img_url %>" alt="">
                </div>
                <div class="cart-order-details-item-text">
                  <div id="item_design_name_id_<%= designs[i].id %>"><%= designs[i].design_name %></div>
                  <div id="item_designer_name_id_<%= designs[i].id %>">by <%= designs[i].designer_name %></div>
                  <div>
                    $<%= designs[i].price %>
                  </div>
                  <div>
                    <a href="#" onclick="modalItemQuantity(<%= designs[i].id %>)">edit design details</a>
                  </div>
                </div>


              </div>
              <div class="cart-order-details-item-subtotal">
                $<%= designs[i].subtotal %>
              </div>
              <div class="cart-order-details-print-info">

                <div class="cart-order-details-print-item">
                  <div class="cart-order-details-print-item-qtd">
                    (1)
                  </div>
                  <div class="cart-order-details-print-item-text">
                    <div>PLA, Blue ($0.15/gr)</div>
                    <div>est. weight : 20 gr (ea. $3)</div>
                    <div>$3</div>
                  </div>
                </div>

                <div class="cart-order-details-print-item">
                  <div class="cart-order-details-print-item-qtd">
                    (3)
                  </div>
                  <div class="cart-order-details-print-item-text">
                    <div>PLA, Blue ($0.2/gr)</div>
                    <div>est. weight : 25 gr (ea. $5)</div>
                    <div>$10</div>
                  </div>
                </div>

                <div class="cart-order-details-print-edit">
                  <a href="#">edit print details</a>
                </div>

              </div>

              <div class="cart-order-details-print-subtotal">
                $13
              </div>

              <div class="cart-order-details-print-total">
                $17.5
              </div>
            </div>

            <% } %>


          </div>

        </div>

        <div class="cart-order-summary">

          <div class="cart-order-summary-container">
            <div class="cart-order-summary-header">
              Order Summary
            </div>
            <div class="cart-order-summary-items">
              <div>Items: </div>
              <div>$37.50</div>
            </div>
            <div class="cart-order-summary-shipping">
              <div>Shipping: </div>
              <div>$15.50</div>
            </div>
            <div class="cart-order-summary-total">
              <div>Total: </div>
              <div>$52.50</div>
            </div>
            <button class="cart-order-summary-button accent-button">Place Order</button>

          </div>
        </div>
      </div>

    </div>


    <div class="default-modal-background">

      <div class="cart-modal-item-quantity">

        <form action="/cart/update_item_quantity" method="POST">
          <div class="cart-modal-item-quantity-info">
            <div class="cart-modal-item-quantity-img">
              <img id="modal_item_img" class="default-image-wrap" src="" alt="">
            </div>
            <div class="cart-modal-item-quantity-description">
              <div id="modal_item_design_name" class="cart-modal-item-quantity-name">
                Yoda Desk Decor
              </div>
              <div id="modal_item_designer_name" class="cart-modal-item-quantity-creator">
                by LaufeyLaufey
              </div>
              <div class="cart-modal-item-quantity-input">
                <div class="cart-modal-item-quantity-label">
                  Quantity:
                </div>
                <select name="item_quantity" id="modal_item_quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="10+">10+</option>
                </select>
                <input type="hidden" id="modal_design_id" name="design_id" value="">
              </div>
            </div>
          </div>
          <div class="cart-modal-item-quantity-btn">
            <div id="modal_item_remove" class="cart-modal-item-quantity-btn-remove button-white-red" onclick="redirect('/cart/remove_item/id')">
              Remove
            </div>

            <div class="cart-modal-item-quantity-btn-cancel button-white-grey" onclick="hideModal('cart-modal-item-quantity')">
              Cancel
            </div>

            <button class="cart-modal-item-quantity-btn-update button-white">
              Update
            </button>
          </div>

        </form>


      </div>

      <div class="cart-modal-shop-selection">
        <div class="cart-modal-shop-selection-info">
          <div class="cart-modal-shop-selection-img">
            <img class="default-image-wrap" src="<%= shop[0].img_url %>" alt="">
          </div>
          <div class="cart-modal-shop-selection-description">
            <div class="cart-modal-shop-selection-label">
              Selected print shop:
            </div>
            <div class="cart-modal-shop-selection-name-address">
              <div class="cart-modal-shop-selection-name">
                <%= shop[0].shop_name %>
              </div>
              <div class="cart-modal-shop-selection-address">
                <%= shop[0].shop_address %>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-modal-shop-selection-btn">
          <button class="cart-shop-selection-btn-remove button-white-red" onclick="redirect('/remove_shop')">
            Remove
          </button>
          <button class="cart-modal-shop-selection-btn-cancel button-white-grey" onclick="hideModal('cart-modal-shop-selection')">
            Cancel
          </button>
          <button class=" cart-modal-shop-selection-btn-update button-white" onclick="redirect('/search/shop')">
            Change
          </button>
        </div>
      </div>

      <div class="cart-modal-item-material">
        <div class="cart-modal-item-material-info">
          <div class="cart-modal-item-material-img">
            <img class="default-img-wrap" src="" alt="">
            <div class="cart-modal-item-material-remaining">
              Remaining: 3
            </div>
          </div>
          <div class="cart-modal-item-material-description">
            <div class="cart-modal-item-material-name">
              Yoda Desk Decor
            </div>
            <div class="cart-modal-item-material-creator">
              Selected shop: Printaroo
            </div>
            <div class="cart-modal-item-material-inputs">
              <div class="cart-modal-item-material-input">
                <div class="cart-modal-item-material-label">
                  Quantity:
                </div>
                <input class="cart-modal-item-material-input-quantity" type="text" class="cart-modal-item-quantity-textarea"></input>
              </div>
              <div class="cart-modal-item-material-input">
                <div class="cart-modal-item-material-label">
                  Material:
                </div>
                <input class="cart-modal-item-material-input-quantity" type="text" class="cart-modal-item-quantity-textarea"></input>
              </div>
              <div class="cart-modal-item-material-input">
                <div class="cart-modal-item-material-label">
                  Color:
                </div>
                <input class="cart-modal-item-material-input-quantity" type="text" class="cart-modal-item-quantity-textarea"></input>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-modal-item-material-btn">
          <button class="cart-modal-item-material-btn-remove button-white-red">
            Remove
          </button>
          <button class="cart-modal-item-material-btn-cancel button-white-grey">
            Cancel
          </button>
          <button class="cart-modal-item-material-btn-update button-white">
            Update
          </button>
        </div>
      </div>



    </div>

    <div class="default-footer">
    </div>

  </div>



</body>

</html>