<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link default-link-hover" onclick="redirect('/search/shop')"> back to shops </div>
    </div>

    <div class="container-inner">

      <div class="browse-shop">
        <div class="browse-shop-images">
          <div class="browse-shop-image-top">
            <div class="browse-shop-image">
              <img class="default-image-wrap" src="<%= images[0].image_url %>" alt="">
            </div>
            <div class="browse-shop-image">
              <img class="default-image-wrap" src="<%= images[1].image_url %>" alt="">
            </div>
          </div>
          <div class="browse-shop-image-bottom">
            <div class="browse-shop-image">
              <img class="default-image-wrap" src="<%= images[2].image_url %>" alt="">
            </div>
            <div class="browse-shop-image">
              <img class="default-image-wrap" src="<%= images[3].image_url %>" alt="">
            </div>
          </div>
          <div class="browse-shop-image-large">
            <img class="default-image-wrap" src="<%= images[4].image_url %>" alt="">
          </div>
        </div>
        <div class="browse-shop-information">
          <div class="browse-shop-information-name">
            <%= shop[0].shop_name %>
          </div>
          <div class="browse-shop-information-rating">
            <div class="browse-shop-information-rating-star">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <div class="browse-shop-information-rating-text">
              (16) Ratings, (50) Prints
            </div>
          </div>
          <div class="browse-shop-information-address">
            <%= shop[0].shop_address %>
          </div>
          <div class="browse-shop-information-dates">
            3d printing since <%= shop[0].print_date %>, joined shapearoo in <%= shop[0].join_date %>
          </div>
          <div class="browse-shop-information-links">
            LinkedIn, website, instagram
          </div>
          <button class="browse-shop-information-btn-select default-button" onclick="redirect(`/add/shop/${<%= shop[0].id %>}`)">
            Select Shop
          </button>
          <% bio.forEach(info => { %>
          <p class="browse-shop-information-p">
            <%= info.text %>
          </p>
          <% }) %>
          <div class="browse-shop-information-contact">
            <a href="#">Contact Shop</a>
          </div>
        </div>
        <div class="browse-shop-details">
          <div class="browse-shop-details-header">
            Shop Details
          </div>
          <div class="browse-shop-details-text">
            Available printers:
          </div>
          <div class="browse-shop-details-printers">
            <% printers.forEach(info => { %>
            <div><%= info.shop_printer %></div>
            <% }) %>
          </div>
          <div class="browse-shop-details-text">
            Print options:
          </div>
          <% for(i = 0; i<filaments.length ; i++) { %>
          <div class="browse-shop-details-text">
            <%= filaments[i].type %>
          </div>
          <div class="browse-shop-details-filament">
            <div class="browse-shop-details-filament">
              <div class="browse-shop-details-filament-box">
                <div class="browse-shop-details-filament-color">
                  <% for(j = 0; j<filaments[i].colors.length ; j++) { %>
                  <div><%= filaments[i].colors[j] %></div>
                  <% } %>
                </div>
                <div class="browse-shop-details-filament-price">
                  $<%= filaments[i].price %>/gr
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>

      <div class="browse-shop-past">
        <div class="browse-shop-past-header">
          Past prints
        </div>

        <div class="browse-shop-past-images">
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
          <div class="browse-shop-past-img"></div>
        </div>

      </div>

    </div>





</body>

</html>