<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/0001-head-default') %>
  <title>Shapearoo - Shop</title>
</head>

<body>

  <div class="container">

    <%- include('partials/1001-browse-header-nav') %>
    <%- include('partials/1002-browse-header-search') %>

    <div class="nav-back-container">
      <ion-icon class="medium-icon" name="chevron-back-outline"></ion-icon>
      <div class="nav-link default-link-hover" onclick="redirect('/search/item')"> back to search </div>
    </div>

    <div class="container-inner">

      <div class="designer-profile">
        <div class="designer-profile-image-left">
          <div class="designer-profile-image">
            <img src="<%= images[0].image_url %>" alt="">
          </div>
          <div class="designer-profile-image">
            <img src="<%= images[1].image_url %>" alt="">
          </div>
        </div>
        <div class="designer-profile-image-left">
          <div class="designer-profile-image">
            <img src="<%= images[2].image_url %>" alt="">
          </div>
          <div class="designer-profile-image">
            <img src="<%= images[3].image_url %>" alt="">
          </div>
        </div>
        <div class="designer-profile-image-middle">
          <div class="designer-profile-image-large">
            <img src="<%= images[4].image_url %>" alt="">
          </div>
        </div>
        <div class="designer-profile-information">
          <div class="designer-profile-name">
            <%= designer[0].designer_name %>
          </div>
          <div class="designer-profile-dates">
            Product designer since <%= designer[0].design_date %>, joined shapearoo in <%= designer[0].join_date %>
          </div>
          <div class="designer-profile-links">
            LinkedIn, website, instagram
          </div>
          <div class="designer-profile-bio">
            <%= bio[0].text %>
          </div>
          <div class="designer-profile-contact">
            <a href="#"> Contact Designer</a>
          </div>
        </div>
      </div>

      <div class="designer-designs">
        <div class="designer-designs-header">
          Designs
        </div>

        <% designs.forEach(info => { %>

        <div class="designer-items">
          <div class="designer-item">
            <div class="designer-item-image ">
              <img class="default-image-hover default-image-wrap" src="<%=  info.img_url %>" alt="" onclick="redirect('/search/item/details/<%= info.design_id %>')">
            </div>
            <div class="designer-item-label">
              <div class="designer-item-description">
                <div class="designer-item-name default-link-hover" onclick="redirect('/search/item/details/<%= info.design_id %>')">
                  <%= info.design_name %>
                </div>
                <div class="designer-item-creator">
                  by <%= info.designer_name %>
                </div>
              </div>
              <button class="designer-item-btn-add default-button" onclick="redirect('/add/item/<%= info.design_id %>')">+</button>
            </div>
          </div>

          <% }) %>





        </div>


      </div>



    </div>





</body>

</html>